<div class="container mt-3">
  <h2>Search Authors</h2>
  <form class="search-author-form" action="/authors" method="GET">
    <label class="form-label" for="name">Name</label>
    <div class="search-author">
      <input
        class="form-control"
        type="text"
        name="name"
        placeholder="Enter Author Name Here..."
        value="<%= searchOptions.name %>"
      />
      <button class="btn btn-primary" type="submit">Search</button>
    </div>
  </form>
  <br />
  <% authors.forEach(author => { %>
  <div class="d-flex flex-column flex-md-row justify-content-between mb-3">
    <div class="author-name mb-1"><%= author.name %></div>
    <div class="d-flex gap-3">
      <a class="btn btn-secondary" href="/authors/<%= author.id %>">View</a>
      <a class="btn btn-success" href="/authors/<%= author.id %>/edit">Edit</a>
      <%- include('../partials/deleteForm', {url: `/authors/${author.id}`}) %>
    </div>
  </div>
  <% }) %>
</div>
